<div>
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="/">
                    <span class="title">Code Camper</span>
                    <span class="jump-start-title">[Jumpstart] 
                        <a href="http://jpapa.me/spajsps" style="float: right; font-size: 120%">Learn how to build a SPA</a></span>
                </a>
            </div>
        </nav>
    </header>
    
    <section id="content" class="navbar-inner navbar-secondary">
        <!-- ko compose: {model: 'viewmodels/speakers', activate: true} -->
        <!-- /ko -->

    </section>
</div>
