<div>
    <header>
        <!-- do not need nav model here as there is no viewmodel for nav.html. The view model is shell.js, which is being used
            for the shell.html -->
        <!-- ko compose: {view: 'nav'} -->
        <!-- /ko-->
    </header>
    
    <!-- The section tag will go get the current item that was navigated to and find its V and VM pair. 
         It will place the View in this HTML tag and when it is done, 
         it will invoke the compositionComplete (this is a handy feature that enables 
         things like turning of a progress bar while composing).
     -->
    <section id="content" class="main container-fluid">
        <!-- The following is the same as router:{cacheViews: true}-->
        <!--ko compose: {
            model: router.activeItem,
            compositionComplete: router.compositionComplete,
            attached: router.attached,
            cacheViews:true} -->
        <!--/ko-->
    </section>
</div>
